.b-contact {
  width: 44%;
  color: #222;
  top: 37%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 310px;
  @include breakpoint(iphone4) {
    top: 22%;
  }
  @include breakpoint(iphone5) {
    top: 25%;
  }
  img {
    width: 46%;
    position: relative;
    margin-bottom: 104px;
    @include breakpoint(iphone4) {
      margin-bottom: 11%;
    }
    @include breakpoint(iphone5) {
      margin-bottom: 13%;
    }
  }
  h3 {
    font-size: 23px;
    margin-bottom: 25px;
  }
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.b-contact__left {
  width: 50%;
  float: left;
  clear:both;
}
.b-contact__right {
  width: 50%;
  float: left;
}
