.b-hp-slider {
  width: 100%;
  height: 86vh;
  // opacity: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}
.b-hp-slider__item {
  width: 100%;
  height: 100vh;
  img {
    width: 100vw;
  }
}
.slick-arrow {
  position: absolute;
  // top:50%;
  opacity: 0.5;
  // left:1%;
  z-index: 2;
  // transform: translateY(-50%);
  width: 60px;
  width: 10%;
  background: #222;
  img {
    width: 70px;
    top:50%;
    position: relative;
  }
}
.a-left {
  margin-left:13%;
  transform:rotate(180deg);
}
.a-right {
  float: right;
  margin-right:13%;
}
.slick-next {
  left:auto;
  right:0%;
  height: 100%;
  top:0;
}
.slick-prev {
  // transform:rotateY(180deg);
  height: 100%;
  top:0;
}
.slick-dots {
  left:50%;
  transform:translateX(-50%);
  position: absolute;
  bottom:20px;
  li {
    display: inline-block;
    margin:5px;
  }
}
