.b-hp-slider {
  width: 100%;
  height: 100vh;
  // opacity: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}
div.b-hp-slider__item {
  width: 100%;
  height: 100vh;
  background-size:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img01 {
  background-image:url(../../assets/img/background/desk/f01.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf01.jpg);
  }
}
.img02 {
  background-image:url(../../assets/img/background/desk/f02.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf02.jpg);
  }
}
.img03 {
  background-image:url(../../assets/img/background/desk/f03.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf03.jpg);
  }
}
.img04 {
  background-image:url(../../assets/img/background/desk/f04.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf04.jpg);
  }
}
.img05 {
  background-image:url(../../assets/img/background/desk/f05.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf05.jpg);
  }
}
.img06 {
  background-image:url(../../assets/img/background/desk/f06.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf06.jpg);
  }
}
.img07 {
  background-image:url(../../assets/img/background/desk/f07.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf07.jpg);
  }
}
.img08 {
  background-image:url(../../assets/img/background/desk/f08.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf08.jpg);
  }
}
.img09 {
  background-image:url(../../assets/img/background/desk/f09.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf09.jpg);
  }
}
.img10 {
  background-image:url(../../assets/img/background/desk/f10.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf10.jpg);
  }
}
.img11 {
  background-image:url(../../assets/img/background/desk/f11.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf11.jpg);
  }
}
.img12 {
  background-image:url(../../assets/img/background/desk/f12.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf12.jpg);
  }
}
.img13 {
  background-image:url(../../assets/img/background/desk/f13.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf13.jpg);
  }
}
.img14 {
  background-image:url(../../assets/img/background/desk/f14.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf14.jpg);
  }
}
.img15 {
  background-image:url(../../assets/img/background/desk/f15.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf15.jpg);
  }
}
.img16 {
  background-image:url(../../assets/img/background/desk/f16.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf16.jpg);
  }
}
.img17 {
  background-image:url(../../assets/img/background/desk/f17.jpg);
  background-size:100%;
  @include breakpoint(mobile){
    background-image:url(../../assets/img/background/mobile/mf17.jpg);
  }
}
.slick-arrow {
  position: absolute;
  // top:50%;
  opacity: 0.5;
  // left:1%;
  z-index: 2;
  // transform: translateY(-50%);
  width: 60px;
  width: 10%;
  // background: #222;
  img {
    width: 50px;
    top:50%;
    position: relative;
  }
}
.a-left {
  margin-left:7%;
  -webkit-transform:rotate(180deg);
     -moz-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
          transform:rotate(180deg);
}
.a-right {
  float: right;
  margin-right:7%;
}
.slick-next {
  left:auto;
  right:0%;
  height: 100%;
  top:0;
}
.slick-prev {
  // transform:rotateY(180deg);
  height: 100%;
  top:0;
}
.slick-dots {
  left:50%;
  transform:translateX(-50%);
  position: absolute;
  bottom:20px;
  li {
    display: inline-block;
    margin:5px;
  }
}
.arr-right {
  cursor: pointer;
  opacity: 0.5;
  transition:all 800ms;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(30,30,30,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(30,30,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(30,30,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  &:hover {
    opacity: 1;
  }
}

.arr-left {
  cursor: pointer;
  opacity: 0.5;
  transition:all 800ms;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(left,  rgba(30,30,30,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(30,30,30,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(30,30,30,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  &:hover {
    opacity: 1;
  }
}
.slick-arrow {
  // opacity: 0;
}
