.header {
  width: 100%;
  height:80px;
  position: absolute;
  z-index: 2;
}
.header__logo {
  width:100px;
  margin-top:15px;
  margin-left: 15px;
  position: fixed;
  width: 95%;
  left:2.5%;
  top:10%;
}
.header__nav {
  float:right;
  margin-right: 20px;
}
.header__nav__item {
  display: inline-block;
  margin:20px;
}
// svg logo animation
.o-back {
  // fill:red;
}
.o-front {
  // fill:#222;
}
.o {
  transform:translateX(-400px);
}
.other {
  opacity: 0;
  transform-style: preserve-3d;
  // transform:rotate();
  fill:#222;
  transform-origin: center;
}
.k {
  opacity: 0;
}
.rect {

}
.header__logo__background {
  width:100%;
  height: 500vh;
  bottom:0;
  fill:#222;
  position: fixed;
  // opacity: 0;
  transform:translateX(-100%);
  -webkit-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
}
.mask {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-image:url('../../assets/img/mask1.png');
  background-repeat: no-repeat;
  // background-size: 100%;
  // background-position: center;
  opacity: 0.2;
}
.rect-orange {
  fill:#ee5a04;
}
