.header {
  width: 100%;
  height:14vh;
  position: relative;
  z-index: 2;
  text-align: center;
}
.header__logo {
  width: 11%;
  bottom: 1%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.header__nav {
  float:right;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.header__nav__item {
  display: inline-block;
  margin:20px;
}
// svg logo animation
.o-back {
  fill:white;
  opacity: 0;
}
.o-front {
  fill:#222;
}
.o {
  // transform:translateX(-400px);
}
.other {
  // opacity: 0;
  transform-style: preserve-3d;
  // transform:rotate();
  fill:#222;
  transform-origin: center;
}
.k {
  // opacity: 0;
}
.rect {

}
.header__logo__background {
  width:100%;
  height: 500vh;
  bottom:0;
  fill:#222;
  position: fixed;
  display: none;
  // opacity: 0;
  transform:translateX(-100%);
  -webkit-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
}
.mask {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-image:url('../../assets/img/mask1.png');
  background-repeat: no-repeat;
  // background-size: 100%;
  // background-position: center;
  opacity: 0.2;
}
.rect-orange {
  fill:#ee5a04;
}
