@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  overflow-x: hidden;
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal; }
  @media (max-width: 2050px) {
    html {
      font-size: 16px; } }
  @media (max-width: 700px) {
    html {
      font-size: 16px; } }

h1 {
  font-weight: 900; }

.page--mobile-about {
  display: none; }
  @media (max-width: 700px) {
    .page--mobile-about {
      display: block;
      background: #f0c4d1;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      z-index: 6;
      transition: left 300ms; }
      .page--mobile-about.active {
        left: 0; } }
  .page--mobile-about .all, .page--mobile-about .k {
    fill: white !important; }
  .page--mobile-about .header {
    background: none; }
  .page--mobile-about .nav-ico, .page--mobile-about .close-ico {
    background-image: url(../../assets/img/close-ico.svg); }
  .page--mobile-about .close-ico {
    background-image: url(../../assets/img/right.svg);
    background-size: 24px; }
  .page--mobile-about h1 {
    position: fixed;
    top: 42%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 66px; }
    @media (max-width: 700px) {
      .page--mobile-about h1 {
        font-size: 17.3vw; } }

.page {
  transition: all 300ms;
  position: relative;
  left: 0; }
  @media (max-width: 700px) {
    .page.active {
      left: 40%; }
    .page.active-contact {
      left: -40%; } }

.page--mobile-contact {
  display: none; }
  .page--mobile-contact .close-ico {
    background-image: url(../../assets/img/left.svg);
    background-size: 24px; }
  @media (max-width: 700px) {
    .page--mobile-contact {
      display: block;
      background: white;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 100%;
      z-index: 6;
      transition: left 300ms; }
      .page--mobile-contact.active-contact {
        left: 0; } }

.nav-ico.active, .active.close-ico {
  background-image: url(../../assets/img/close-ico.svg); }

.header {
  width: 100%;
  height: 16vh;
  position: absolute;
  z-index: 2;
  text-align: center;
  background: white; }
  @media (max-width: 700px) {
    .header {
      height: 80px; } }

.header__logo {
  width: 11%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 19px;
  top: 8vh; }
  @media (max-width: 700px) {
    .header__logo {
      float: left;
      left: auto;
      transform: none;
      position: relative;
      width: 132px;
      margin-left: 14px;
      margin-top: 21px;
      top: 0vh; } }

.header__logo--anim {
  z-index: 12;
  position: absolute;
  width: 100%;
  transform: scale(1);
  display: block;
  float: left;
  top: 7.7vh;
  transform-origin: top center; }

.header__nav {
  float: right;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0; }
  @media (max-width: 700px) {
    .header__nav {
      width: 100%;
      position: relative;
      margin-top: -1px;
      max-height: 0;
      overflow: hidden;
      background: white;
      width: 100%;
      margin-right: 0;
      transition: all 400ms; }
      .header__nav.active {
        max-height: 130px; } }

.nav-ico, .close-ico {
  display: none;
  height: 60px;
  width: 60px;
  background-image: url(../../assets/img/menu-ico.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 11px;
  right: 0; }
  @media (max-width: 700px) {
    .nav-ico, .close-ico {
      display: block; } }

.close-ico {
  background-image: url(../../assets/img/close-ico.svg); }

.header__nav__item {
  display: inline-block;
  margin: 20px;
  margin-bottom: 30px;
  letter-spacing: 1px; }
  @media (max-width: 700px) {
    .header__nav__item {
      display: block;
      width: 100%; } }
  @media (max-width: 700px) and (max-width: 700px) {
    .header__nav__item {
      margin: 0;
      padding: 17px 0; } }

.header__animation {
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 10;
  position: relative; }
  @media (max-width: 700px) {
    .header__animation {
      display: none; } }

.o {
  transform: translateX(-400px);
  opacity: 0; }

.other {
  opacity: 0;
  transform-style: preserve-3d;
  fill: #fff;
  transform-origin: center; }

.k {
  opacity: 0;
  fill: #fff; }

.header__logo__background {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  background-color: #222;
  opacity: 0.671;
  position: fixed;
  z-index: 0;
  opacity: 1;
  transform: translateX(-110%);
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  left: 0; }
  .header__logo__background:after {
    content: "";
    width: 100px;
    background-size: 100px;
    height: 100%;
    position: relative;
    left: 99%;
    top: 0;
    display: block;
    background-size: 100px; }

.mask {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/mask1.png");
  background-repeat: no-repeat;
  opacity: 0.2; }

.rect-orange {
  fill: #ee5a04; }

.b-hp-slider {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: hidden; }

div.b-hp-slider__item {
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.img01 {
  background-image: url(../../assets/img/background/desk/f01.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img01 {
      background-image: url(../../assets/img/background/mobile/mf01.jpg); } }

.img02 {
  background-image: url(../../assets/img/background/desk/f02.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img02 {
      background-image: url(../../assets/img/background/mobile/mf02.jpg); } }

.img03 {
  background-image: url(../../assets/img/background/desk/f03.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img03 {
      background-image: url(../../assets/img/background/mobile/mf03.jpg); } }

.img04 {
  background-image: url(../../assets/img/background/desk/f04.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img04 {
      background-image: url(../../assets/img/background/mobile/mf04.jpg); } }

.img05 {
  background-image: url(../../assets/img/background/desk/f05.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img05 {
      background-image: url(../../assets/img/background/mobile/mf05.jpg); } }

.img06 {
  background-image: url(../../assets/img/background/desk/f06.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img06 {
      background-image: url(../../assets/img/background/mobile/mf06.jpg); } }

.img07 {
  background-image: url(../../assets/img/background/desk/f07.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img07 {
      background-image: url(../../assets/img/background/mobile/mf07.jpg); } }

.img08 {
  background-image: url(../../assets/img/background/desk/f08.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img08 {
      background-image: url(../../assets/img/background/mobile/mf08.jpg); } }

.img09 {
  background-image: url(../../assets/img/background/desk/f09.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img09 {
      background-image: url(../../assets/img/background/mobile/mf09.jpg); } }

.img10 {
  background-image: url(../../assets/img/background/desk/f10.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img10 {
      background-image: url(../../assets/img/background/mobile/mf10.jpg); } }

.img11 {
  background-image: url(../../assets/img/background/desk/f11.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img11 {
      background-image: url(../../assets/img/background/mobile/mf11.jpg); } }

.img12 {
  background-image: url(../../assets/img/background/desk/f12.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img12 {
      background-image: url(../../assets/img/background/mobile/mf12.jpg); } }

.img13 {
  background-image: url(../../assets/img/background/desk/f13.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img13 {
      background-image: url(../../assets/img/background/mobile/mf13.jpg); } }

.img14 {
  background-image: url(../../assets/img/background/desk/f14.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img14 {
      background-image: url(../../assets/img/background/mobile/mf14.jpg); } }

.img15 {
  background-image: url(../../assets/img/background/desk/f15.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img15 {
      background-image: url(../../assets/img/background/mobile/mf15.jpg); } }

.img16 {
  background-image: url(../../assets/img/background/desk/f16.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img16 {
      background-image: url(../../assets/img/background/mobile/mf16.jpg); } }

.img17 {
  background-image: url(../../assets/img/background/desk/f17.jpg);
  background-size: 100%; }
  @media (max-width: 700px) {
    .img17 {
      background-image: url(../../assets/img/background/mobile/mf17.jpg); } }

.slick-arrow {
  position: absolute;
  opacity: 0.5;
  z-index: 2;
  width: 60px;
  width: 10%; }
  .slick-arrow img {
    width: 50px;
    top: 50%;
    position: relative; }

.a-left {
  margin-left: 7%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.a-right {
  float: right;
  margin-right: 7%; }

.slick-next {
  left: auto;
  right: 0%;
  height: 100%;
  top: 0; }

.slick-prev {
  height: 100%;
  top: 0; }

.slick-dots {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 20px; }
  .slick-dots li {
    display: inline-block;
    margin: 5px; }

.arr-right {
  cursor: pointer;
  opacity: 0.5;
  transition: all 800ms;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #1e1e1e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #1e1e1e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, #1e1e1e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=1 );
  /* IE6-9 */ }
  .arr-right:hover {
    opacity: 1; }

.arr-left {
  cursor: pointer;
  opacity: 0.5;
  transition: all 800ms;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(left, #1e1e1e 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e1e1e 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e1e1e 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=1 );
  /* IE6-9 */ }
  .arr-left:hover {
    opacity: 1; }

.b-contact {
  width: 44%;
  color: #222;
  top: 37%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 310px; }
  @media (max-height: 480px) {
    .b-contact {
      top: 22%; } }
  @media (max-height: 568px) {
    .b-contact {
      top: 25%; } }
  .b-contact img {
    width: 46%;
    position: relative;
    margin-bottom: 104px; }
    @media (max-height: 480px) {
      .b-contact img {
        margin-bottom: 11%; } }
    @media (max-height: 568px) {
      .b-contact img {
        margin-bottom: 13%; } }
  .b-contact h3 {
    font-size: 23px;
    margin-bottom: 25px; }
  .b-contact p {
    font-size: 16px;
    margin-bottom: 10px; }

.b-contact__left {
  width: 50%;
  float: left;
  clear: both; }

.b-contact__right {
  width: 50%;
  float: left; }

.about-page {
  background: #f0c4d1; }
  .about-page .header__nav {
    background: #f0c4d1; }
  .about-page .page {
    height: 100vh; }
    .about-page .page h1 {
      text-align: center;
      font-size: 11vw;
      color: white;
      top: 46%;
      position: relative;
      transform: translateY(-50%); }
      @media (max-width: 700px) {
        .about-page .page h1 {
          position: fixed;
          top: 42%;
          text-align: center;
          width: 100%;
          color: white;
          font-size: 17.3vw; } }
  .about-page .header {
    background: transparent; }

.contact-page .b-contact {
  top: 30%;
  position: relative;
  width: 310px; }

.contact-page .page {
  height: 100vh; }
