@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  overflow-x: hidden;
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

@font-face {
  font-family: 'Uni Sans';
  src: url("/ui/uni-sans-heavy.otf") format("opentype"); }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  @media (max-width: 2050px) {
    html {
      font-size: 16px; } }
  @media (max-width: 700px) {
    html {
      font-size: 16px; } }

body {
  font-family: "Roboto", sans-serif; }

@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7ozT1DHLc-lgcGofyQSe5eyY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o69WAFmVxfVhVkWhl-QDeAk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Press';
  src: url(../../assets/font/PressStart2P.ttf); }

.page--mobile-about {
  display: none; }
  @media (max-width: 700px) {
    .page--mobile-about {
      display: block;
      background: #f0c4d1;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      z-index: 6;
      transition: left 200ms; }
      .page--mobile-about.active {
        left: 0; } }
  .page--mobile-about .all, .page--mobile-about .k {
    fill: white !important; }
  .page--mobile-about .header {
    background: none; }
  .page--mobile-about .nav-ico, .page--mobile-about .close-ico {
    background-image: url(../../assets/img/close-ico.svg); }
  .page--mobile-about h1 {
    position: fixed;
    top: 50%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 60px;
    font-weight: bold; }

.page {
  transition: all 200ms;
  position: relative;
  left: 0; }
  @media (max-width: 700px) {
    .page.active {
      left: 40%; }
    .page.active-contact {
      left: -40%; } }

.page--mobile-contact {
  display: none; }
  @media (max-width: 700px) {
    .page--mobile-contact {
      display: block;
      background: white;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 100%;
      z-index: 6;
      transition: left 200ms; }
      .page--mobile-contact.active-contact {
        left: 0; } }

.header {
  width: 100%;
  height: 14vh;
  position: absolute;
  z-index: 2;
  text-align: center;
  background: white; }
  @media (max-width: 700px) {
    .header {
      height: 80px; } }

.header__logo {
  width: 11%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 3%; }
  @media (max-width: 700px) {
    .header__logo {
      float: left;
      left: auto;
      transform: none;
      position: relative;
      width: 132px;
      margin-left: 14px;
      margin-top: 21px; } }

.header__nav {
  float: right;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0; }
  @media (max-width: 700px) {
    .header__nav {
      width: 100%;
      position: relative;
      margin-top: 13px;
      max-height: 0;
      overflow: hidden;
      background: white;
      width: 100%;
      margin-right: 0;
      transition: all 400ms; }
      .header__nav.active {
        max-height: 130px; } }

.nav-ico, .close-ico {
  display: none;
  height: 60px;
  width: 60px;
  background-image: url(../../assets/img/menu-ico.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 11px;
  right: 0; }
  @media (max-width: 700px) {
    .nav-ico, .close-ico {
      display: block; } }

.close-ico {
  background-image: url(../../assets/img/close-ico.svg); }

.header__nav__item {
  display: inline-block;
  margin: 20px;
  font-weight: 100;
  letter-spacing: 2px; }
  @media (max-width: 700px) {
    .header__nav__item {
      display: block;
      width: 100%; } }
  @media (max-width: 700px) and (max-width: 700px) {
    .header__nav__item {
      margin: 0;
      padding: 17px 0; } }

.o-back {
  fill: white;
  opacity: 0; }

.o-front {
  fill: #222; }

.other {
  transform-style: preserve-3d;
  fill: #222;
  transform-origin: center; }

.header__logo__background {
  width: 100%;
  height: 500vh;
  bottom: 0;
  fill: #222;
  position: fixed;
  display: none;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%); }

.mask {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/mask1.png");
  background-repeat: no-repeat;
  opacity: 0.2; }

.rect-orange {
  fill: #ee5a04; }

.b-hp-slider {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: hidden; }

div.b-hp-slider__item {
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.img01 {
  background-image: url(../../assets/img/14.jpg);
  background-size: 100%; }

.img02 {
  background-image: url(../../assets/img/12.jpg);
  background-size: 100%; }

.img03 {
  background-image: url(../../assets/img/03.jpg);
  background-size: 100%; }

.img04 {
  background-image: url(../../assets/img/15.jpg);
  background-size: 100%; }

.slick-arrow {
  position: absolute;
  opacity: 0.5;
  z-index: 2;
  width: 60px;
  width: 10%; }
  .slick-arrow img {
    width: 50px;
    top: 50%;
    position: relative; }

.a-left {
  margin-left: 7%;
  transform: rotate(180deg); }

.a-right {
  float: right;
  margin-right: 7%; }

.slick-next {
  left: auto;
  right: 0%;
  height: 100%;
  top: 0; }

.slick-prev {
  height: 100%;
  top: 0; }

.slick-dots {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 20px; }
  .slick-dots li {
    display: inline-block;
    margin: 5px; }

.arr-right {
  cursor: pointer;
  opacity: 0.5;
  transition: all 800ms;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #1e1e1e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #1e1e1e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, #1e1e1e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=1 );
  /* IE6-9 */ }
  .arr-right:hover {
    opacity: 1; }
  @media (max-width: 700px) {
    .arr-right {
      display: none !important; } }

.arr-left {
  cursor: pointer;
  opacity: 0.5;
  transition: all 800ms;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(left, #1e1e1e 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e1e1e 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e1e1e 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=1 );
  /* IE6-9 */ }
  .arr-left:hover {
    opacity: 1; }
  @media (max-width: 700px) {
    .arr-left {
      display: none !important; } }

.b-contact {
  width: 44%;
  color: #222;
  top: 37%;
  position: relative;
  margin: 0 auto; }
  .b-contact h3 {
    font-size: 23px;
    margin-bottom: 32px; }
  .b-contact p {
    font-size: 16px;
    margin-bottom: 10px; }
